.fading-text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #8c8c8c;

  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 10%, transparent 100%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  overflow: hidden;

  margin-bottom: 20px;
}

.fading-text p {
  margin-bottom: 10px;
}

.more__btn {
  padding: 8px 25px;
  color: #a2a6b0;
  border: 2px solid #a2a6b0;
  border-radius: 20px;
  font-weight: 600;
  background-color: transparent;
  display: flex;
  margin: 0 auto;
  transition: all 0.5s;
}

.more__btn:hover {
  color: #4e4f55;
  border: 2px solid #4e4f55;
  transform: scale(1.1);
}
