.promo {
  margin-bottom: 15px;
}

.promo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 8px;
}

.promo__box-img {
  padding: 0 10px;
  border-right: 2px solid #00aeb8;
}

.promo__box-text {
  font-size: 18px;
  color: #272560;
}

.promo__box-text strong {
  font-weight: 600;
}

.promo__box-link {
  font-size: 14px;
  color: #272560;
  margin-left: 2px;
}

@media (max-width: 767px) {
  .promo__box-text {
    font-size: 14px;
  }
  .promo__box-link {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .promo__box-text {
    font-size: 12px;
  }
  .promo__box-link {
    font-size: 10px;
  }
}
