.filter {
  display: flex;
  flex-direction: column;
  background-color: #f5f7ff;
  padding: 20px 15px;
}

.filter__title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.filter__clear-btn {
  font-size: 14px;
  font-weight: 600;
  color: #a2a6b0;
  padding: 10px;
  border: 2px solid #a2a6b0;
  border-radius: 20px;
  background-color: transparent;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: auto;
  transition: all 0.4s;
}

.filter__clear-btn:enabled:hover {
  border: 2px solid #0156ff;
  background-color: #0156ff;
  color: #fff;
  cursor: pointer;
}

.filter__box {
  overflow: hidden;
  margin-bottom: 20px;
}

.filter__box-item {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.filter__box-item:hover {
  background-color: #0156ff;
  color: #fff;
}

.filter__box-accordion {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f5f7ff;
  z-index: 2;
  transition: all 0.4s;
}

.filter__box-accordion:hover {
  color: #0156ff;
}

.filter__box-title {
  font-weight: 600;
}

.filter__img {
  transition: all 0.4s;
}

.filter__box-accordion-items {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.filter__box-accordion-items--open {
  transition: all 0.4s;
}

.filter__box-accordion-items.filter__box-accordion-items--open {
  max-height: 200px;
}

.active {
  background-color: #0156ff;
  color: #fff;
}
