.product-descr {
  padding-top: 65px;
  padding-left: 115px;
  margin-right: 118px;
}

.product-descr__title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 15px;
}

.product-descr__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-descr__question {
  display: flex;
  gap: 2px;
}

.product-descr__question span {
  font-size: 12px;
  font-weight: 600;
}

.product-descr__question a {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #0156ff;
}

.product-descr__id {
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 1000px) {
  .product-descr {
    padding-top: 50px;
    padding-left: 30px;
    margin-right: 50px;
  }
  .product-descr__title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .product-descr {
    padding-top: 30px;
    padding-left: 0;
    margin-right: 0;
  }
  .product-descr__title {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .product-descr__title {
    font-size: 16px;
  }
}
