.show-box {
  background-color: #fff;
  padding: 15px 40px 15px 20px;
  border: 2px solid #cacdd8;
  border-radius: 2px;
  color: #a2a6b0;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.show-box::after {
  content: "";
  position: absolute;
  background-image: url("../../../../../assets/icons/arrow-down-black.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 18px;
  right: 12px;
  width: 10px;
  height: 10px;
}

.show-box span {
  font-size: 13px;
  color: #000;
  position: relative;
}

.show-box__select {
  position: absolute;
  width: 100%;
  background-color: #fff;
  margin: 18px 0 0 -19px;
  z-index: 1;
}

.show-box__option {
  padding-top: 10px;
  padding-right: 40px;
  text-align: end;
  color: #000;
  padding-bottom: 7px;
}

.show-box__option:hover {
  background-color: #0156ff;
}

@media (max-width: 1000px) {
  .show-box {
    padding: 10px 40px 10px 15px;
    font-size: 11px;
  }

  .show-box::after {
    top: 12px;
  }

  .show-box span {
    font-size: 11px;
  }

  .show-box__select {
    margin: 18px 0 0 -15px;
  }
}
