.products-main {
  margin-bottom: 35px;
}

.products-main__inner {
  display: flex;
  gap: 8px;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 767px) {
  .products-main__inner {
    flex-direction: column;
  }
}
