.register {
  background-color: #f5f7ff;
  padding: 37px 57px;
}

.register h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
}

.register p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 24px;
}

.register ul {
  margin-bottom: 30px;
}

.register li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-left: 20px;
}

.register__incorrect {
  color: red;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .register h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .register p {
    font-size: 12px;
    line-height: 16px;
  }

  .register__btns {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .register {
    padding: 20px 30px;
  }

  .register h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .register p {
    font-size: 10px;
    line-height: 14px;
  }
}
