.register {
  background-color: #f5f7ff;
  padding: 37px 57px;
}

.register h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
}

.register p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}

.register ul {
  margin-bottom: 30px;
}

.register li {
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 7px;
}

.register__text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}

.register__label {
  display: block;
  margin-bottom: 15px;
}

.register__label-text {
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}

.register__input {
  border: 1px solid #a2a6b0;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  width: 100%;
}

.register__input::placeholder {
  color: #a2a6b0;
  font-size: 14px;
  font-weight: 300;
}

.register__forgot-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #0156ff;
  margin-left: 23px;
}

.register__incorrect {
  color: red;
  margin-bottom: 10px;
}

.invalid {
  border: 1px solid red;
}
