.summary {
  min-width: 445px;
  padding: 18px 30px 0;
  background-color: #f5f7ff;
  margin-left: 35px;
}

.summary__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.summary__text {
  color: #666666;
  width: 290px;
  margin-bottom: 10px;
}

.summary__label {
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
}

.summary__container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.summary__container--open {
  transition: all 0.4s;
}

.summary__container.summary__container--open {
  max-height: 500px;
}

.summary__inputs {
  margin-bottom: 17px;
}

.summary__option {
  padding: 0 15px;
  border-radius: 4px;
  list-style: none;
  transition: all 0.3s;
}

.summary__option:hover {
  background-color: #0156ff;
  color: #fff;
}

.summary__option:active {
  background-color: #0156ff;
  color: #fff;
}

.summary__margin-bottom {
  margin-bottom: 20px;
}

.summary__btns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
}

@media (max-width: 1450px) {
  .summary {
    min-width: 250px;
    width: 700px;
    margin-left: 0;
  }

  .summary__text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .summary {
    width: 100%;
  }

  .summary__label {
    font-size: 12px;
    line-height: 30px;
  }

  .summary__option {
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .summary__label {
    font-size: 10px;
  }

  .summary__option {
    line-height: 25px;
  }
}
