.summary {
  min-width: 445px;
  padding: 18px 30px;
  background-color: #f5f7ff;
  margin-left: 35px;
}

.summary__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.summary__show {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.summary__show-text {
  font-size: 18px;
  padding-top: 12px;
  margin-bottom: 12px;
}

.summary__show-img {
  transition: all 0.4s;
}

.summary__shipping-tax-p {
  color: #666666;
  width: 290px;
  margin-bottom: 10px;
}

.summary__label {
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
}

.summary__shipping-tax-container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.summary__shipping-tax-container--open {
  transition: all 0.4s;
}

.summary__shipping-tax-container.summary__shipping-tax-container--open {
  max-height: 500px;
}

.summary__inputs {
  margin-bottom: 17px;
}

.summary__shipping-select {
  display: flex;
  align-items: center;
  border: 1px solid #a2a6b0;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  width: 100%;
  height: 44px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.summary__shipping-options-box {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #a2a6b0;
  border-radius: 4px;
  z-index: 2;
  max-height: 350px;
  overflow: scroll;
  display: none;
}

.summary__shipping-options-box--visible {
  display: block;
}

.summary__shipping-option {
  padding: 0 15px;
  border-radius: 4px;
  list-style: none;
  transition: all 0.3s;
}

.summary__shipping-option:hover {
  background-color: #0156ff;
  color: #fff;
}

.summary__shipping-option:active {
  background-color: #0156ff;
  color: #fff;
}

.summary__shipping-select-arrow {
  position: absolute;
  top: 13px;
  right: 10px;
  transition: all 0.3s;
}

.summary__shipping-select-arrow--reversed {
  transform: rotate(180deg);
}

.summary__apply-box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.summary__apply-text {
  font-size: 18px;
  padding-top: 12px;
  margin-bottom: 12px;
}

.summary__apply-label {
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
}

/* .summary__apply-container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.summary__apply-container--open {
  transition: all 0.4s;
}

.summary__apply-container.summary__shipping-tax-container--open {
  max-height: 500px;
}

.summary__apply-inputs {
  margin-bottom: 17px;
} */
