.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0156ff;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  text-align: center;
  border: none;
  border-radius: 24px;
  font-weight: 600;
  transition: all 0.4s;
}

.button:hover {
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
}

.button:active {
  transform: scale(0.9);
}

@media (max-width: 767px) {
  .button {
    padding: 0 30px;
    height: 38px;
  }
}

@media (max-width: 500px) {
  .button {
    padding: 0 20px;
    height: 32px;
  }
}
