.action-panel {
  display: flex;
  gap: 20px;
}

.action-panel__current {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-panel__current-text span {
  font-weight: 600;
}

.action-panel__btns {
  display: flex;
  align-items: center;
  gap: 13px;
}

@media (max-width: 767px) {
  .action-panel__current-select {
    padding: 3px 3px 3px 15px;
  }
}

@media (max-width: 550px) {
  .action-panel {
    flex-direction: column;
    align-items: center;
  }
}
