.sort-box__style-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-box__btn {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  padding-top: 5px;
}

.sort-box__btn--active {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  padding-top: 5px;
}

@media (max-width: 767px) {
  .sort-box__style-btn {
    display: none;
  }
}
