.sort-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 12px;
}

.sort-box__filter {
  display: none;
  cursor: pointer;
  transition: all 0.4s;
}

.sort-box__filter:active {
  transform: scale(1.3);
}

.sort-box__length {
  font-size: 13px;
  color: #a2a6b0;
}

.sort-box__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1000px) {
  .sort-box__length {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .sort-box__filter {
    display: block;
  }
}
