.sort-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sort-box__length {
  font-size: 13px;
  color: #a2a6b0;
}

.sort-box__items {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
