.benefit {
  padding: 60px 0 45px;
}

.benefit__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefit__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 265px;
}

.benefit__item-img {
  margin-bottom: 24px;
}

.benefit__item-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.benefit__item-text {
  line-height: 140%;
  text-align: center;
}

@media (max-width: 900px) {
  .benefit__box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .benefit__item {
    padding: 0 5px 30px;
  }
}

@media (max-width: 767px) {
  .benefit {
    padding: 20px 0 20px;
  }
  .benefit__item-title {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .benefit__item-title {
    font-size: 14px;
  }
}
