.partners {
  margin-bottom: 40px;
}

.partners__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__img {
  background-color: #fff;
  padding: 35px 23px;
}

.partners__img:hover {
  background-color: #f5f7ff;
}

@media (max-width: 1450px) {
  .partners__box {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .partners {
    display: none;
  }
}
