.brands {
  padding: 20px 0 0;
  background-color: #f5f7ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.brands__show-all {
  font-size: 14px;
  font-weight: 600;
  color: #a2a6b0;
  padding: 10px;
  border: 2px solid #a2a6b0;
  border-radius: 20px;
  background-color: transparent;
  width: 200px;
  cursor: auto;
  margin-bottom: 17px;
  transition: all 0.4s;
}

.brands__show-all:enabled:hover {
  border: 2px solid #0156ff;
  background-color: #0156ff;
  color: #fff;
  cursor: pointer;
}

.brands__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  padding: 1px;
}

.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  padding: 13px;
}

.brands__item:hover {
  background-color: #f5f7ff;
}

.active {
  background-color: #f5f7ff;
}
