.contacts-form__text {
  margin-bottom: 20px;
}

.contacts-form__text p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.contacts-form__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts-form__input-box {
  width: 450px;
}

.contacts-form__incorrect {
  color: red;
  margin-bottom: 10px;
}

.modal-sendler {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
}

.modal-sendler__box {
  position: relative;
  background-color: #f5f7ff;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.modal-sendler__text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.modal-sendler__text-thanks {
  font-size: 20px;
  text-align: center;
}

.modal-sendler__close {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 30px;
  cursor: pointer;
}
